body {
     min-height: 2000vh;
    
}
* {
     padding: 0; 
     margin: 0; 
     border: 0; 
     box-sizing: border-box;
}
.header {
     position: fixed;
     display: block;
     width: 1440%;
     height: 89px;
     left: 0px;
     top: 0px;
     background-color: #590bff;
     z-index: 1;
}
h1 {
     position: relative;
     display: inline;
     left: 29px;
     top: 13px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 54px;
     color: white
}
.box {
    position: fixed;
    width: 1440px;
    height: 20px;
    top: 80px;
    background-color: #FFF;
    z-index: 1 ;
}
.meny-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between; 
}
.sidebar {
     position: fixed;
     width: 282px;
     height: 457px;
     left: 5px;
     top: 136px;
}
h2 {
     position: absolute;
     width: 240px;
     height: 33px;
     left: 20px;
     top: 15px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 28px;
     line-height: 33px;
     color: black;    
}
.sidebar-google {
     position: relative;
     width: 206px;
     height: 28px;
     left: 20px;
     top: 71px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 28px;
     text-decoration-line: underline;
     color: #FF710B
}
.sidebar-yandex {
     position: relative;
     width: 209px;
     height: 28px;
     left: 20px;
     top: 111px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 28px;
     text-decoration-line: underline;
     color: #FF710B
}
.sidebar-mail {
     position: relative;
     width: 204px;
     height: 28px;
     left: 20px;
     top: 151px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 28px;
     text-decoration-line: underline;
     color: #FF710B
} 
.line-siderbox {
    position: fixed;
    width: 2px;
    height: 451px;
    left: 285px;
    top: 138px;
    background: #C4C4C4;
}
.contacts {
     position:  absolute;
     width: 1080px;
     left: 335px;
     top: 143px;
}
.contacts-main { 
     background: #590bff;;
     color: #FFF;
     font: bold 18px/21px Helvetica, Arial, sans-serif;
     margin: 0;
     padding: 2px 0 0 12px;
     position: -webkit-sticky;
     position: sticky;
     top: 100px;
     right: 25px;
}
.contacts-name {
     list-style-type: none;
     width: 132px;
     left: 200px;
     top: 54px;
     padding-left: 20px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
    line-height: 33px;
}
