body {
    min-height: 200vh;
}
header {
    background-color: #008acb;
    
}
.box {
      position: relative;
    position: sticky;
    top: 50px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffcc01;
}
 
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .square-foto {
    text-align: center;
    width: 200px;
    height: 300px;
    /* height: 200px; */
    border-style: 1px solid blue;
     
    border-radius: 5px;
    box-shadow: 8px 0px 17px 0px;
    background-position-x: center;
    background-image: url(https://uft.fitness/assets/images/preview/pic23diplom.jpg);
}
 .square-text {
    text-align: center;
    width: 200px;
    height: 100px;
    /* height: 200px; */
    border-style: 1px solid blue;
    background-color: #a5bbc8;    
    border-radius: 5px;
    box-shadow: 8px 0px 17px 0px;
    /* background-image: url(http://www.wellfitness-company.ru/templates/yootheme/cache/kurs_pt-002-df4d202a.jpeg); */
}

button {
    /* border: none;
    outline: 0;
    padding: 10px;
    color: #fff;
    background-color: #3515e9;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; */
    width: 200px;
    height: 45px;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11pt;

    background-color: #5b2928e0;
    

    
  }
    p {
        color: rgb(243, 237, 237);
    }